
@font-face {
  font-family: 'AdelleSans-Bold';
  src: url('AdelleSans-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans-Bold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEQ0AA8AAAAAd7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABEGAAAABwA
AAAccP4BQEdERUYAADG4AAAAHQAAAB4AJwDWR1BPUwAAMgQAABISAAAjWHfMG4RHU1VCAAAx2AAA
ACwAAAAwuP+4/k9TLzIAAAHMAAAARAAAAGAROqHCY21hcAAABEgAAAFkAAABshlatBFnYXNwAAAx
sAAAAAgAAAAI//8AA2dseWYAAAdQAAAmuQAARSgadZcvaGVhZAAAAVgAAAAzAAAANg5SkadoaGVh
AAABjAAAACAAAAAkBnYDgWhtdHgAAAIQAAACNwAAA0C7HR41bG9jYQAABawAAAGiAAABopLkgjJt
YXhwAAABrAAAAB4AAAAgARcAVW5hbWUAAC4MAAACNwAABGucJcyTcG9zdAAAMEQAAAFsAAAB4kde
0Kt42mNgZGBgAOKj9lcmxPPbfGXgZn4BFGG4el2dDUb/n/ufi/kF8xogl4OBCSQKAGxyDPsAeNpj
YGRgYHr3n42BgfnL/7n/tzG/YACKoIALALE7B/t42mNgZGBguMAQxMDKAAJMQMzIABJzAPMZACCe
AW0AAHjaY2BmUmHaw8DKwMDUxRTBwMDgDaEZ4xiMGC0YUAEzMqekBEzxKioxvfvPBpRcw/ANyGcE
CTJxMl0BUgoMTAC5tgmneNplk09IVFEYxc/3vci0GRlmBh0zZpyZnBk1xxii+VdqhjmOlg1lKYXS
xo3VrmWbICgiSqIWUVBrqW1R0MqgRYuSFhG4alEiuYgnFE7czntMONSD3zv33ct93/fOuU8uIApe
coy3Z9QYcvIUGZ1FWBPYaQ0gqF8RxxoyMo8emTcbsoJuLeAsbPNL8ghiE1F5hUYdRYe8RETD2K09
3DeJdt0Hvw6hTwOcz6NVDyMiTUjJNrPJdwyTc+S8xuG1ziCpb9CsVzCmz9GpH1HWEdJFviClKyhL
mmM/fPqEmkPZuktdJT+R0IsYdfUqn0+xn5PYoUsY1Pvmt7XE8U1jdMas6wm0Sz+y8hoB6h5dxLDY
/HYbs5pGlOuHtIP1J0gcMbmE7fwOH3vJiwd7pck80v0ocnzQOo0s54s65u4r6nEk5AbfvYEWech9
QzigIVO1ek2VHjRos6nKMutXjJEQSlKhz1M4UvO+qG3o1Qpr9cPjrNOzJPvqtmL0/xZ2yXv2VMCk
ZBGUD6xlY0bmMODkIfcQZs0Wzi3qZVR0Gkmss38b16VE3x+jjfsjlo0+kiEpDTErx/MtfDX1Wmvw
ujmM1HKoIWnzgzkMUlfJW+bUwAzGXe+3SLlawBw16eZQj5ODk9cd5FzP/ydiHUWMOcScDOoRj/lO
75mF+URe6Dg9/JvBvxQw7aqTQz3Mwc3LycPGA1JyzoD1jf/BZwSIXxZ4Phaot6HyDhO6zHPeik4S
0WtotKbQ9Qe6bqSJAHjaY2BgYGaAYBkGRgYQWAPkMYL5LAwTgLQCELKAZXgZ6hgWM/xn2sN0R0FE
QVJBTkFJQU3BSmGNotL//1AVCgwLGJaCVQgrSCjIgFVYQlUw/v/6//H/Q/8P/mP9++zBhgdrH6x+
sOLB0geTHyjdXwu1HS9gZGOAK2NkAhJM6AqAXmFhZWPn4OTi5uHl4xcQFBIWERUTl5CUkpaRlZNX
UFRSVlFVU9fQ1NLW0dXTNzA0MjYxNTO3sLSytrG1s3dwdHJ2cXVz9/D08vbx9fMPCAwKDgkNC4+I
jIqOiY2LT0hkaG3r6Jo0fe6ihYuXLlm2YtXK1WvWrV2/YdOWzVu3b9u9a89ehsKU1IxT5Qvys86X
ZjK0z2QoYmBIKwO7LruaYfnOhuRcEDun5nRSY8s0BobDR46fOHpsB8MBBoZzZ84CZSoYTjI0dzf1
dPb1T+idMpVh8uw5sxgYDhUApSqBGACXG3LhAAAAFAAUABQAFAAqAD4AcADSASQBjAGaAbQBzgHu
AgICEAIeAiwCOgJqAoACsALyAw4DPgOQA6ID9AQ2BEwEYgR2BIoEngTOBTAFTAWGBbQF2AXwBgYG
PgZYBmYGhAagBrAG0AbmBw4HNAdoB4wH4gf0CBYIKghKCGYIfgiWCKgItgjICNoI6Aj2CToJZAmY
CcIJ/AogCowKqgrGCvILCgsYC1ALcAueC8wL+gwUDGIMigyqDL4M3gz4DRwNMg1wDXwNug3kDeQN
/A44DngOnA6wDyoPXA+2D/YQEBAgEC4QdhCEELQQ0BD+ETQRQhFmEYgRmBG6EdISAhIcEk4SlhLo
ExoTPhNiE4oTyBQOFEYUbBS2FNQU9BUYFVoVbhWCFZoV0hYAFjgWaBaYFswXFhdoF4IXwhfsGBYY
RBiQGK4Y2hkSGV4Zqhn6GmAazhsuG5wb6BwqHGwcsh0YHSwdQh1aHZId0h4UHkgefh62HwQfXB+C
H8Af6CAQIDwghiCyIOAhMCE+IWYhdCGCIZAhniGyIcYh2iHuIgwiHCIsIm4ilAAAeNqVWwlgVOW1
vue/mdxMMslkMstNJstk5maWZCbb3Fmy70ASAgQQSEIMEFYBIyCVpbJFNpEiIhoFV6pWsSqldaO+
2kfbp32trVXa1z61vgK1WFuXgrWt5s47/39nskASKMPcZHL/+//nnP8s3/nPGY5wdo6DAnKE4zmB
48KyQeINdkPDa6/ZQWsnHYN7yJHBZRxHuLLIJe4jcgZHJeE4k+QIBmS/W+Lljzq7ujqtW42PNbW3
zywhehzrh1/B13EsmxMkg8zjG76+Z8/pPXvwFq8MAk/nzMFLFZmJ42wc5wxLgijhBd9hmb1lgb0F
ib6hPXWu4f7l5nnmFebF5h7DEnOPaYVpLr6XmhYa8H2xr+/iHXfcsaLvhj3474a+FRwuziVFTpAE
Pp2rww+CI95sEi02sIjsZTbFC2Yp6HKH8YPsD4eCgSJwu9xFBC/sFQyEwkHZbBEF/ACmuEKfLWdS
lWizpRl1yavnbf+WcWeiNaO2NCs7LU1MT+J1poRyfbrLbjAsnLbt0cTdgtlMZoEr14trpQmGVJMl
J6ewa3VKe7vluxnVmZlms8eYk6bV8hCnIWnxiRkWl8ffviytq9P0ZGpJuogscBrOFPmMzyPnUE4G
LpvzcmGOEyWQeTMj2e2SHGaTRZQclFzZj1zBuHe+3AUv7AzbUpKTU2wV1izonN7R8a2uwb/TvyTn
Dv9FT/4wuAlES6DUaJ7v93UsbO9Y8mzHMnj3yr9RGnlOilwib5BXuDSksAllLZrEGgiH6CsYQDqE
eKPkD7vcbAdAMOlxE0IoWpNAJS/GS/HueMlBJR6mb6QWh9khU7DEadOM8UJOZnZqmhl8tilzC+w2
kDSPpFS2ZO+qd7hMxlSPt2VG07bNdQ2HpOqanmmlMskkbjkuicSl6FOSLek5qamKJ7X+VqnCb7PB
L8i6SfEz2st6dJs6LfHr9FAqV1R23lFTWT231O9wcExvUIe5l5kOc0bU3pdVzVXveSPLYRneS8bN
kSi1cryg8jX/wbsffqDV43G57j/z3v+927d86fbNy5fiM5HP8ZkS9RmDjNogSCF1i+gTLfkel5Oc
OfPe++/duII+soStUwCb4VvkIpdC5RkWBVFwC+6wOyyGQZ+21ryqubx3QcWUGy03m8jFzZnNodWF
3QuK+oLNWbeqdM7nNsHvSSK1WKcUlIIyyls2S9Cxcdeujbt3b7pzwx13bEDa/hnZwP2G20l5FYwy
L9Q+1LsFQLlI5zBx50CCJfSe0x60g6R8BvpzO9j8dvQJ73CPo4aiR0CH4H/n1Km2jo5Oek8beQye
Rtp5VVfv3gcZt3fzMzhq97mRv5EC8j7ylY2zClFddVAZWkSzY2j/qSY7SaXZbDTeIloKyu5cV1Nz
8EBZ2cYVpKLyzruC4fLQwQPr1pNTP3h5wfVd3S/86BWVb1skAvNQ1lqOswuGFJDcobAM8wbEZdnC
nQ3LgeTq0rYnNbOxWTj2S/IHSglaDV1TiNeD2W62B1XdlRzxAj4fAvOqcJkjt/MWyFb8Rxek2WYW
+xL26hqayB9ISUnX1Iqy3n6+f+vzfbbS4rZQSFxR6mfyi1yCCM5fyHG1kAOyn/HqhaDqb6hhCO4a
kKNLC2b2Ay3WtD2+pLSwIju7YkpxjeSYVWixJPWn7exZGS53u8sHJjVu6Nn5XGZJSShUlp6+LidH
breIRdYF1xUVz673+YxxjkNLKyq6mLwz8dKI8iBU+4yywSgF7UGQDagLj7x66JDyCthemjkLsqBo
8IVjq+A1pXkzk01a5HNCyK+pbDIBJSLEdoUaKjrNIRbqsmCL8pkhPHtOMLh/Q099Xcptyd1FubaF
YT/Mgtv6ny8JlfVt2O3z9mb25NrqbirhGF3F6DNsKJtULoR0qT5ZHvJcTupzqfTjY+tSuaBzpuqh
vmT/6wBCvGjJ94qi0VQUgtzdgsnk9FbpdFC9oDMQbGrsay31h9KFBKMpJzvkb/o2bkLQLWVn2aVw
WYb1Y1epydRcKpeHQ2VLNtfWZmYu29heXiqH0FVlZER16V8ou3imx2gB5g8eAVE5De8Amd2/nvk+
EeXkImfRzjIpJyCoakM9gsA8A9t1FlDC0bgz7OqGeIMgtHV5SjIyIN9iuTFYZhIz9OI2aLXb7731
1vq6O27au2ZtRVVODrwCRfXNebmujIwHLNlZvi6/2+rSG4TE+SB5va2dG0OhmbfVBm6+fmVR0bRK
j0eVtQ1lbcYYkswVUG+CQQ7U8CD7NWGqlyjPGFWUpBx09OZUuwM2EBKnMZnFrM65Zcpvd2iLPDV2
O6no7QwGJk/pm+wvDel0yken4STx5eSUpaRsvOmPbrmovm5pIBRYtZFJtLpmhrIBafCgvzgLX6G/
QI9kZB7DwK5nT+E/+Ca6DqWd+Q8S+RJ90qdsrDY2lkff9OmpU5+je2JjB/cwJwXcJG42/Bz+Tveo
EIJOczLAz5VNsEf5EjSzbz+wf8ucuUwG3dw2+D18L4pLcC8N1KP9XtkK/fQNVRuVn23E+RZxc+CC
Op9TE8QpNXAB59PgfHt+f/vmOXO27GfzJeO+A/oxDUUyTkZjMQRH+Ay6teqGC1B18mTSwGvziv3a
u3VNjTcX+vIdktH05iRETcXwYurWef6Q2BsKJSWlp3uLyl4sxfndkRq+iExGCUzC+Zkx0P2yQXSj
cP6oLo3cOQRxJtWOhkKvEI1Psh/+DGan2zfJ/VjO1Lu+3Xfj+Zcf+68V8+Zb3VMnu1yFhdNCuQkz
tVprlskUH79zb0ttlcNhMLS3771+zYtiTf2GnXNLFi58+Tu//96RHdtlvxycvaC6RspW/mlNTsm2
2fM863darV5vsCx8d3OzqncYu8j3WRzFPQdeSgIZ/TGiPHihK64z7ofAPVX1WdnD4IV05QI8Neg7
cYLZ1FR8bjE+l8RZOAk1IOwPhWsA+fECL1rCUS9qxC30MxiHgvigLNcnWtKrqtuhvdEl2aWKnhuV
f4LtnelVT8KTEK/VFuQEc5RMALMpHDaZlJ+TM99pus5ATA++xvydE23kEfRHWTSu5xqYOFXoRw2F
ii8UFlMIrAfl5PzuJ7bfF/8NQXJMeaWwsKO1KeWOpIUbddB3YvmK7Tt10xyOf/RXVjTUps9aXUDl
0BqJkOfI21wiRlQuPIIDwcB2UYg/P3UDAiJ5zbzZf1VePNFz/dcBamtu6Q8GBp8CcuaFJ59Z0os0
tuJkbiYXzkijlMFOr+bz0KhI8DPll2AD71P95MyO41sZT3R8mhoLjQYpNvoIvK68BRbIUs7j0Je2
qXHTE/k7eQr9WB7GTTeGzSGdigkhpkWhasAQYiDlqeK6SQ9OndrVdXzLfdqDgt3evKCo2OddMHn6
TsiaXxzq7X3i5IoVm29LqXW76upv6a+pbg5b1yp7uCHaDqu8AKUN3zJeyeGjykdHjoCZnBn0Qb7y
P+SM8r/gGnqGOx/FZTj+/BE6CD/Te6mRi/AmyliP1oJhDpOUIWQPATh6/tfCYU1yiicvLe01ohv8
4n/esATT003GIVoeicrVALIWJB5zA8M5yHhM+QI033t18v1Ixn9DSHlb6YTitnPRNelzVvxdQ5+j
+3EehyDQG3wWN0G9z7fib3qVR4nHF+XTKBv51oNxT9/xeNw3Prg/7j7GRtng66R88DX8/RNi4EbR
RbGMRGeQwSCTR04qH37jJUjbDxEFlWMwQgB1zIX6ewb1N5HLQAnIfhVemE1uWd3FKLKArfDiiS5Z
fgS65x9/4omOjmeeeeyWv1+srtl86bMnVt3w38deXLLsdaqzLXiZxtY2UQtU/QlVWdwrPwsPZ6sm
S66G2laA+yFte3m58kdYBiQjs7W+RDn0Z3Kmrq5X+QfzA67ID8jbSJuey2W0URgbC5MWMYb5KImI
cuNhGynIXHv9Kut3upYtnPnMY93dTz3xxOxZC2dPuzlx4+xN4aUXN39968Ztrz/N6H1qacfMrjzV
31A7+zrqgMBopjJAijNBlbqdLnBuxm01tXMuPfbEnYvvB+vWdXDHjbJPOav8FxiVv5Iz6zrvVfHr
30gI6Q3H8sZozoiBkYkx182iZjSsx7LFqMvH4CkUAfg0oVCB3WvLKyzNsBfMmLFB+adhf1JVy8YC
e3opQn7JbjZPbVkfKPBJzqK4b8SFyEq+IC+nQKdP0BqMBvP00M3l5R+Yaxo6cwqShGStPsVizs8P
L62s0Got4tya1FCI6UgCMj6V5eaoIwa0TMT4G4/+mjS+TWb196t6VIe6sR3HGBniDgXR0jC6I80G
Fi5gCT+14ojy7j2NTUdzcr4GbfPhZaVU+aSx6QB6ldaOfA/mCYO4zv2xdXiqwjK89OZHzzwe//jD
qIQ/JlVcjB7+FVXn7Uzh1bH0xdt/8rW49T974NFlcTse36XpOQoXlWR89i1SNPhLUsqej0Rwnf1R
v8AbJbcgGXlZDJPtZz8++dDAE39+/9uH70VjPKIc+uwzuBGWf/65+tzH+Nwa1VaopUQp3Hn0y6ce
1tz/ABiUT0APP6FGrNJJcbGsjtdSfBukmIA4ledgweAFmKecxOi+SLH3r4WzO+j4cGQtWFX+NRJF
z2iM1nPnZs68k1/cO7iIzWnEvOd5Ne/RYN4Dz+9TLqiJD3B5+LwQez4o407JIODj5+7sJQ/3qjRN
Ai9ZSe6j2AMY5zJZeXBX/4Gf3A/ev/wFbqRjuMhUuBR5ma1BEcwlRQeXnu9jzy8gVTCV/In5R7cs
frDnWCupevoYsw3M14idmJDfItSCoOoc0BQFUzQHjwIJxIbBgF1m4IECGZaLt6VXOHKrgy8SnVFn
jPMGu/XyCm+eXa/XgZSQVeTKTdhuPX1DMLCj26B3lg/+ryUtfp6poTElxSIWiC8YS4ty3RkP+Aop
HdVIh49cQj2x0ihmUT0V70ZVHIn0pbeLChd1B5u2HK7oxcSiomLpvDIe1p93PHynsgTIReVPFbX1
uw43TipjsftTkoBOE72LRhxOIakdDsctdGEiQiHIjtu6ddKk7QvKyxP2aFwFpdlZ1owAphDCtuTa
el3cwU27WlvkwPWmYEmubc5cl1O0+NN7iosp7RQjWHB/E7j0KCajIjTyUjHEDy1rgG2Q771hif9V
2KrlK364uq5+/pzig59kP3iY7B1MlqFu6567Gyf5IIntiyNyEfOsNNzzPJoHMa9tNDsYRB9OEOyW
KAJBDn70aFteevr1LSVyWUrywTVry8K88iOSkRFwuRK26cvDUAMrMjKV28BimV7srdy9r7Z6fX4m
YnFXnq3V60V5Uf3aRhREV+jfWGjPBqrR1H/IbFHYFi9J+UbTvn0Dkycv65pGPlqVnJbmL+pTlsLR
vqoFXQynpUaySS5pQlsVuTaUvTmAgmBaFeIDQxoWKga/SBkx06VioNVsYkdx0e1mwgsH1R/sCrvq
7rJtK8vKtnb6MqzXe6wZnfHzi/OqTBYhLdvm3brM6zMWH+70+qa2bNldWY7Qs81kKGyrqW4lrjit
JSuIWeCPZhhNnnaz+X3InaFdDNrSpjnLkowp6bw23iG1zfd5c22VktUqxFkaJKvF7u2dS50qcOUM
N13E3JT5EsoKgych3AySNjApXDxw77Qn3W5YojwALe35ykFUyA8qvT7cTx9K5hzPYxxG9GsUGE43
oXaIOEMhlPi8JSVzS54YIE8B+61k/eAXRIs5z4MRO3eWp9kRtQvJFB89t7PwDMmgmVBnLcSfBfqU
11fyU5jtSSrKqx8o9ZPjvhI281dtWWtN04l98BcLvD7Vp1QiL37khWGbsCxQl4pb/da3v/XMqW/t
8Q8g5Qtf+L5y8uPS/yA0n6Ju/G3Vh1GM9TYOGEzGz8wHoku2ETPTVHqsy3aVni1SIakYUciG4Q9v
koHtQvPcJfbaxQ8MJCfnimK6nv40ZWXA15T9RFtaVV//jHI/zPCkpiUm6uMFZYD9npQ0RLsJfRbC
ITAO7wNbFjeCsJ3YndDYOze6F624F3cSbaCWcq/6vHxixJ3IUnFHLCdSD0YNI46aXOC3ZpTIgczM
klJQmhp331ZV1b/E5ey8brLTOXte6xpI2dbaPHnKpl2HVaxRGfERL9Kmo3MbBWaf6tkFr1IYU23z
m0SXlZnRa7EUyz/arq1b3LWysmLBrDJYfzYpWffwDJt98CB5L1h3696DUyb5/6XiJR8Rce4EGqWc
waifQSBjiFepVs8/xDDscASWLyn5ARysnP8zozE31+n0dfhTDv7VduReeHBQAiiHhOnBcG6uXl9Z
ou5hJAK3oUySY7avSrQS8K+CcUHFwI6k+iXJxHgYSpTniHbW9fiMJXIJfof00EMtwT+UFMVQ0ZAR
RxE3FcOIQ3QA/knPrYkmo6ehpNyXkZWVnaqvq1+yqCyc8vVE0VI61ZxW4bWKDptefysxwT43YvQi
qylJSEhITc3J8c0tLHS5Gj1Os7k0U5ugExLijWm2XN+sDsZPPOL+Q+RFhnqpd6R00AxFDobpeWc0
891mNPkKitp9BdOnD+zbl5ziKNq5Olmny/d0Kn1HTM/2fehMjWLuEOb1WpJIdS7Mx7JpND2Jhscw
DOj1eYHigf6kilWPHIMVyotekzEf1g5+Udao4pCvcAOz0KJH4qQlJ1765k1xNx0lWmUvbBwax5fi
OP3wOIaREDFBy3ePDCwg3Ye7+fl3Hz1+HcHnDkGfchhWD34B16l04vwkGZ+nOEkYgZMSjj/36Mrl
dx1/5ptLVxDtoHLp0UdBA3EPP0zXjNiJEZ9BHCiqS8YTgeV67Dzv9H9980b+hqP2b9gd102f4k0q
tgXEJGJS7oFV3crmrp7plhtTy6LYCf4D56FYi5cRO9FDRXjuwt+Vnk8/hkPwkPLOplVQuJbhucga
KCHvU7+oEWjlCG2QnYCiKQYDlWCO2iM7AFXPx9ieQQnfdjSlzmyuSznaZslMTEw1mbxekyklKSnH
t6Tfvq6gubu5YGNu/1JdolXcl14kWgwGi1gkrbGLKTpVRs2RtdyvYufQBvlXt99+J9+Pf8+J3ARt
5P8oTYiT/GxJRgmjY+h8NhqNmBIz07aPJMmalJhiMvp8RlNqYlI2uXVJv22jZwRNuRvtMZqytmdk
JUZpagQPMcNp5uX9NKYHY/ajHjSoofCE52SGQTebZFhL81+yZEMnycqG0740a5yVD9nsvlwdz1v5
Cps96osC3Mdon6w+ZwxQjiSHKBulylh9Dn5MC3SDn6k0UCBGyOuck2Z2ZpqwDGX4w0BJrY6pMjjf
3zArfq8m1eAszrAWBTwmY8LWRF9hw7YOX2FJ6VzyGqzQ9bSYis3mrOzWlskmU5HYXFiYvGaNobZ2
wYqGBqO6LsZTUody99JTEHqg40Y7jaEcFa2hBNBqqURicEeyp5a5cgwL6z17162oqNDvTijwd3v+
8/Gk6huqirTbEkKBtcp3N0JuKC/b0zdZnre6sHCpWBq6zjOjz5bdXOUJW5YWFanr66KYX1T1VmIO
Qi2O4BvNRw4T+YGOHTt2DGzbtm32w8c2xN2MucYbPZN6HnkELyAP0jRohF4JaoXIoGrX7bfDozDr
q62wU40R7ogX8eJPcL2ZLKZHc0j6P3Ym7EaMPXwUHEOso1zrCPeqntWqjxbBs6BNMKdaNHadVhIK
88y+NI/o3kW6KvYumV9Zqe2PKyjKt1hKpJDZI0np6V3ltdV9PRWV2ts0BcUeUWwoCuQXNYDeqNcn
agWijeMT+cw8i0PQa3Ra62SYUxlq71hZWLhQX1KSllZTkJiq1ev1klQ6r05unx8MxO7YnQW6ZH3q
dJXnAjILXif/VOs7gEDWFY2yyIRz9EdY47amp1vdLrxalI8Q4mVYPU76gcwGUWwVRXqxAIiWNotI
Lxa13ujHuP4ZeYKzoSZX0RNtdsg54hh05JmV7BeC/mhZgSo4SBSADtcZ/9osZGfl2qT5DJrVFBRo
WjRGowtB58KWtlsPtLRuuOXeA/AenH7oyReWLh14dEEPZKQW22xabTAwvyMQtOc2JeSnYURq3L4P
DtyKucXBbZv3geGh06/c+8jChd3zVblYwQhbyQbE3qj9xiCL6GF2EUcd4rLQrlLLsi/Ludl5WbvS
dAl8prNJ52qsTE83GqV8c6YrQcjOF5aY9k5tg3WyO+ehXda4huTikuwsyZVhTdQRPtmaklyU1lfB
1ndyy+Ek3Keevzsld1jWA70K8OymuZ2bO5ax6/IjA3c/hG/VXuZwx+G3sJ2ebzlp2cgOv71J+Qvc
dnzBBm7i+mAc54IMeIocRn7TOAdXGj2P8YKNngCj0VEnJQqBUSeLYck0fLotWt5KlnLSquVggaF4
SnMj73bWV+d73M7G+ukBsnpud6l/zayOYAA+sKZPuW7KlB+EnQmk0eV0uxvqnc7pTXNWB4Kov7Ks
8tJDOuEe8iqlFWi2f4/yU/LqsmVMNrWgQAH5M8biHJqDjdAjDA1uYagqRdXne0SW7JLDXyLZG2Sw
JKekJJvMOVmEI7m5gZDdjtdAQxPRG8wmgz4n3ZyF86MKRGux+tHVWCOVWrQiu1vZArcd3EjLsso/
VPnmwPWwjs9nCFMcrk/KI+qTrNTwMzI9352T25r7nPLyojJ9msObsE4o8fP5kJsbLs331tjjVq9e
VGaxWhzl+kZJonNbYA7O7VFjQBS0ReNyVPPYeuYh72NZpykqSU6x+W2TXc6kPsu9rZ78eb1y6cyG
4iJ4y+gvydTp5lbmFZs2ZmUHptp507x6lzM7i671NKmCAfVcAgQ3gqg9S6eSPz2tPYb3ZkbaGV4y
Y4w2jMJbEl1WEGcO6HQ2f2Bgi0ZT05Kph8QT5GXlBYRdXgq7QpVx8Cxdwx3ZhNjmDGobyxXoK9rD
QQ2KGMgNDTesCocK3G5/sIKc+epx8uWgBjYJVVUrGpdkZaWk4BwO7gPuDdjFvHq0y+WNOXPnzoHg
jBnteH9vJBG6UUcoforJzB0WYx56b0qG6NfrHanN2jl5jirvhSbBaUlIgC0JjfppwawstT4N8yGF
t2F+yIHbQN0WK1Cn7E5yOtI0vb5FeB8qhPj4FQI7L8mAVNhDbsHYSXVzuLdDNRrR7Bg+PI1/Mzc5
BXcIwX5KcvbJ4qIF3XOLiqGXt4jhkNFsEUsDoqWdfGe2v6S7vauoRK0Nol/4dswvGGVRkMJOdv3d
5s55G69TPmY/4L771Rez7eLIJf40eYfVlNPV3IpCQCloZHVl5zBfRglk8kzv9u1vnng4IA/eiVxK
Bs2iwkVz74Deff95r3K8uxP0yldLTg0xPZiBCIH5eP5lXCOLc1OPCRPpv2b0gnza5fbgE6g9KLPV
5VHI0+ny8MY49vHCaGIYzx6k55fkPNqLh5PpyfC1WY1mlGToqaBnAjsi+4ZE9Q9G4YFx7WrfsOxW
qDQSLiuSjzlBGu6ljeJA9LAOG5ijpzDhWHYUPa1+7+RJ/d2vzUNAp71b19i0Vi1KGt+E0wgViwit
SmZYg+KiaFkyv/rFUhp7WU2PP8xqevrLqnpuWbyssld26Nj8keU9nju8X43hE81DfcToeT47tGr0
PIcPJ+wfMc89bJ60y+nBia4g6d7mqctW7V82ajZobhEOHIieaSnkP/hjbD7nZfOJw4B9FF4PwUsj
l+AiROo2GXRtpKQwv8ucDbNICPJHLPcYKaBIPk6uYkA+nQ/VMR1LwbW/z3+brW3l8i9bfWIsNZrJ
0+Mhq1F0JIxAVjGURREXlUMy0nKKv4udY9E+weBQRcmIOapRMNGkE8kyxqo30CnL1mT9IaTjfyFT
YXT8OTPPFQg1kw/x8eSUjIBSx1b/nJTmDJaeOEHeyCmqtOVWcWp3Cv86q+0Z6WqSoGEVTpoOq3VL
+LO3C9FDk+I4ufebsIhMYfXO+06d2vhQP+QoZ8mZ/ue3cNFabiKr5aKH0wz76bxxiroMPOoharKQ
FPXiScr7Y9V5vd5QqCFulH+fkw7XXV75bQuir9U4Yn6fqLVb1Hem7SOrtzxazYgK7nlmMdEqLvwa
zWWiZ1HBRzzrZVYSfZbcoJrI0PP3qBYyem1mISOm2B2zjhgFv4mZBu5MK+qEG/Uzqp2jZppQO0cs
0DW+ZsaWfG9cteRI5G94/YT5DUE9oQxT+R2pQLGp1WAf9TCE9XxWjxpHZXXkIopIHfdDKh4S+RDH
TWb+IzE2nyqTI/epolBHF6pi4COvRxRYxmw0jdoFe2Ji3o/8eNw05y06dWB8dpEPIdo7wM4wR/QO
MPgo0AP7K3oInn569l8bG0f3ETyxQ3kToHQHONRmAjZ3G+7nMfR1WtploRmqMDvH9XPkWKz2rOy5
0seR4YL0m2N4OF6tUeOe0Bp19oRVahpJxqhUQxtu8xXlatJ0WI0F1z4/jTBjzE80qB5Xzv9bZkmx
+e9h8+dOTL8aecZi4biqVleuMilqaTxijb+R3+C+0HXkCdcZPyJtH2Np45V7tv4KMi6MFZwwn0Oa
zqDeU5o8FP9MQNXEkWosofxmPBO5kr628cwFuGXcXjgDX7IMN9YtKwoibF+8+LrY/72LF8/rXTwP
r4t7qazdkZeQLyvmqamINDknDRa8xS2aRKPauSxjEiKFhxusVLQP2150PyscA8+zaRpk5jvgycu8
s+h2ZMltzzxQdHtHx9f+vqZa6YHPYW01HCPVNUpqfMOa7nPISHxtX/c7yAuzQVabR5010lOpsarz
tJI7ukIfQiMYq0pP7ji8/xrnpPo/as4vUPHHmpO3Md2PzXkPzmkdj05V50dNe1hV9jGp3T+k73Wo
W9tRt4zqScGYs0+sU6MW/eF4ynTzWGTcPZ4+EbWnAOWoZdWSoa4CyuhQZ8EAjbkjugt+GJVXC/rt
aaznK+Oyni/aPSD7oz2WZ2vrPXkORw3torl/U9NC2lD5xy8BMq0tVenpyoM7yJn1eQ1Ol1cZVLFN
WeRzsooHqquyG0U01Dsc7U2JFgsDQ1lJvPnN+0B7c329PbdwakcotPJrZeX54Vl7JcPyJaEQEOAi
sjy/saAglU/tWNhTXdPcHVy/YfVNq6qm071R+wZo7p5M6z9UG/l/r3vgH3uOtRqusYGAtisoVVfr
IhiDLurRjf9mV8NTe5ZObbpWwuhxxeCRq1EWo+tD1mcR/Lc7Ldysy1++5oYL15KWtqU3HLxK38U+
Tc+C+MdGyu1d1EqJa2ancuNEkH9Tmq8SZ4dldGx55Vpl+67v8ogz+PjVdSAuyot61uymHQgTR55/
Vz/6x/Mj+6+VsfGOsZXCq7AXx9kinxIbr2V6VEa/VfPvapIUtX6TW1CPU2lLAbReI+lvg89nSm+A
upLS3NyaZVVbJib4+4UF6UZfYVygIjMTvQrqmSNyic8jRkTfZpp/gKiCBfa9pbDLrfKiiTGgHknU
kEoYyUQoPNT/wr49oTbwfMD6Xz7NyLZaUuLMyA7s21U9s6/QKaWmJMSnp3d1VSXGOFnuy/QVlK0O
hWiLjD843CEjLMrIVD4GXVKaJFPOVk2fjjwZM8ximdOVpzOrjE1xpBnr6tfkZTaURZtnmA92YH6p
Qd7kUeeAdBOuqD6M6DwaSjGfj2WYK5YNNSIZTfmxTiRLwjZdKDRndI45V7evL9aYlJ4+3JnUUVws
RLNMPtpL9EeWy3jo+SL66mvpKIIEdNHHr9JWRCrQNX85cWvRGDSgO7s2Gl5GbzznajT8Eb2w0jkx
ETEaPmQ9Vd5r7Koyqp73as1V01SHe5UeKzIz6nHjorR8wXxUHtdwNR91bbI6NJ5nSr6aAGeO55H+
cpWdpbn3X/H6OxZzBRUJ0OaR9ag78QM0cFexVibEPuXIpTM2jmoAbX4CJ27wjAEWSH+vjqRz/hZH
hHCvhvNvdSPeHviXKmqipYOrVIHykZdw/Nyoz6f594TSpOsq48lqYGBc/zx1iD4uB/fPw6fhevmI
4ySTPOIEXg/RpAC3KmwRhysBbtcrsLQ8M1PjKwtkZj4IFRV9NRVxWQcnhxZMXt0we0V93f6ttbX/
ejgYWCUW2B3SbHLz5OZMTUtX0mZD4eSe4ObXjnR2TJ7CavusB4rGa+9E0frK/qjfXBmQYdWolqkx
4q6y9/IuqhhmyGf7mUbzXuZXJuymSkedmDdWRxXDd7ax26quXIf6jgnX+SktJI25DoNrW8bt34qt
9SE7V5Gu0h0W9Q1jN4nJqpqO3SsWcwSx9d5l2XNoQtw1ESXvX7mpt4zJ/xiQau840oiL0qbalI+r
uCqOmnBPjo1nb5PHJHRciJQ63ubxXCc3E94lfi6B09G6IUj061chv4WWU4XYB1hOHipoK/gaLave
zH6FP7W02AsKlMGNZ1tb8ZeoHryMvLfiXAaaUxmDJjFMGRNVO+ctgnuMA4D4V4WVAnKyHFnSrbXE
QaYra6W3F5mSDNYb3Kv6QYDyzE+dzs+Ri0opwpG1oKlfXPsk8hFX0VHzLeSERHvNLiAVZtWq4IqO
M0hCU1JeG9V3RqrRiLqvaD67fD5U2SS4Yr5X0GTOj57uArWVU+PO9yFKJn2sbjhQzWJ0UxwMqPZw
WXMcaR+Rg6jz/ovpW/HVtG0MHu4ZT8UeGM3YdeOk9sq0y5kl0d446nvEIdld0SEHj6H06sdok1P9
TcoVzXJqn6iPXBy7T9Qwsk/0V9E+UbFI/vHhikUdKysre0a3ifKvKX+qGOoT5aM0q3ZbelWrHaPj
D7aMJ0lhLCbHs9XBR6/sEqQ4+Qh8CXPIT1kvMdrNkeL9s4n2h79Qe/NIMzzD/OEEvvCZK93dGJ6N
zcdxf4BL0D7Ui8K+F/GHm2L3+AvD9/gLX6XzF6L3jMTB/Y4XGY206h28q5NP+vBz9TvQxMD9lo+P
0Z+G90g2u0foc3AXe05Qn9REnwZndAodjiR0DjjA5hDUWWpBnaklOhsdhuNIZCVs5xao46iXceL7
FI5R3sHLvug44GZwO2ELHGe9l2ZTruqVYIvylts5dQBEOHSo1emMxpuT7Pv5SbSXVf2GqjDiSk6e
OvXhqVMfq1/b74y+1foZt5z7B+sJQMRDe4QuDTUHqT0MeP9v6n21Y8A23CSgfn/qErmJnKeIRRN0
uKWwHMQ3+6J7NDOSBcmM7+Gsjr5g/Qee6/WTa/Rl4sH15xJ3atLTQyutp/Xf/67+SHKVXObXbRWs
GXk0P4MvOmo6tu/7OKU5M/sb+GttVVmlpbqwMD09MVHFbfnQzVvY921MKq6kX40CKShIbvrdnUyQ
P2m/BarhREtn7bzm7mXL55GDys8h0NSk/PyTTz79BDYo54GW7v4fPnkC2AAAAHjalVNNbxMxEH2b
pC0IqSAOiBPyjebQ/YjUCjWntCcuKCgVEuK02Xizq2zWkdeJlL9TiQPiZ/ADEEcu/AdOXHn2OjSo
SBVrafw8fn4z9swCeIofCNB+r6A9DvAIXzzuoIfvHnfxPHjicQ+Pg9ceH+Bl8MnjQ/p/enyEt52P
Hh8j6X6gQtB7yNXKqVkc4Bk+e9zBA3z1uIuYubW4hxdB3+MDvAnee3xI/zePj3DTCTw+xrTzC1dQ
jLPlrUrMUcBA4AQZ+pwHVE9oBaZkCFzTriA5K3IluQWtRsi9ESoOsafTuJXkbDkb2hmZuFKrrS7n
hREnWV8M4mQgpltxvV3JazWXppA6FKOqEo7TCC0bqTdyxpMjCkgXRlJ6ghQ1xTGayaqSYpLWXFwy
tYo8XKqKNmHE2I0hMzK0+yI7idPbY0kYx/HQmGGrakVPW6l7Dt7hv3PXbvgcilzxVypjKgiHd96E
3oJMw6e3/M2fEyHOcE45qZtS1aJNcDwRcWxhMiyUyVS9sRvh2fn/5zl2zNSVqS1Y7jIXzEU5W7id
fzWKPZMR7e6Yc9Z7Z3LnN86jGcNmtuSssaAvdSWxelOs91Rq9w4llW3zsPDjSqaNZCvkUgujBJtE
3LZRIzNjXyZX2u3kqjbC6HQml6leiNQYXU7XjlIrU2ayoWThYq9wgYjD+MZeMKphRFuDJf2SeVXu
bSJfu/uG/V1S3jtnCGNWF1Fk2NmL0oSZWkZyXaVNFN/9kkGa5/gNudXViwB42m3QR2zNAQDH8c//
9VWpvffe+9lbldbee1OU1uh7XvvsmdorRMKJWBcEiR0HDiL2ipFwcLZjX3kRR9/kl+/xl3yF/OV3
sY7+x5PkAiEpwlKVkKakUtKVVkZZ5ZRXQUWVVFZFVdVUV0NNtdRWR1311NdAQ4001kRTzTTXQkut
tNZGW+20F9Eh+d1JZ1101U13PfTUS2999JWhn0z9DZAl20CDDDbEUMMMN8JIo4w2xljjjDfBRJNM
NsVU00w3w0yzzJYThBy3yWYHvLXFHjsdctKJIMUOrxXb75vvdjtom5ve+OqwU3764ZdjzrjrtrPm
mGuvee7Ldcc9jz3w0CPvzPcsWeqpcxb4Yp+XnnshzwefbLdQvkWWWKzAEVFLxcQVSiiyzHLvrbDK
SquttcZVR623zgYbffTZtSDslfMuuOyKiy65ZavTrrsRpNqVlijIj0QyI/+clZ4TixYWxaOxvNxw
diIe/QOmeGPDAAAAAf//AAJ42mNgZGBg4AFiMSBmYmAEwvNAzALmMQAADIMA/gAAAHjaY2BkYGDg
YtBh0GNgcnHzCWHgy0ksyWOQYGABijP8/w8kECwgAACeygdreNrdmn1sU9cZxk9CAjSlYUC+gDRN
uxRFHR3dVqHyWVEhGli2Vm2WUjqgQxpCLArTQG21P6aNdqXbREEZ/RLpRN06qsEFt6GhdTGiktVU
XXy3TF1l2azp7noJC3YSf93YsqW73zm+cZxCqbo/9sdkPVzn+n487/O85z3vuRdRIoSoEHeItaJ0
/YbWNlHZ8ZN9nWKRKGO/sCwhfy/+XvKzn/6iU8yW3xTKRKnazhYlt2xSR/6hpJHPypL1JR+UfFyy
vvT3pUdm3AO6y35V9lRZV9mxsr6ygTKzvKx8Zfn68t3lPy/fX36k3Jw5e+ZjMw/PenbW6dnbrmur
eLoiWfH0nFvmfHbD8spjcyu/sWve8/OfWjBadX9Ve5W7ekf1Z9U7aipqPq/dXdtd6+Df3ezbUddW
t23h7IWPlTQuWr3o08X7Fq2ur6l33/jt0iPl+288smg1d+Iz454Z93Cvx7jnY/JT8sHM2dxPfSqP
VTzd8JH8Vx7X8Hnlscpj859qXFLlnvrIO8n7V+9o/DV4vvG18v2NXr79Nc+i8RN1xA6pw81NjZ/c
3CTvLWaKWVZEzAErrJNinRUU/ZYuBkCp6LAeFQHQKEr4vRQssTximdUtWvi+EWwCrdagaGPbDjaD
LWA3x+0Be8E+8CJwsf84OAHc4CR4k/29bE+DPnAGeMF74Cw4B86DGbDTxVrwMrhdNPPvUnAnWA7u
Uvy7xUq2qyy/WM12rXUKniY8TXiacDThaIqHrbh4hDh/zHnb2HaCJ/l+EBwCh0EX+CPXOML2ebYv
sD3Kthu8zHVdXOc4OAHc4CToBadBHzgDvOA9cBZo3KNULLT+Ie4THeJbosZy8NefRb31tytiWYEm
q8Bq4lhr9RCDTgw6MejEoBODDn8//IPw98Pff1X+kvsLSrEe+Orw1eGrw1eHrw5fHb46fHX46vDV
4avDVycHYuRADN5+USNqrU9EHXdbRPT11quigSOWgGVWGrZe2GpK8TWKsV/czbFb+X27ygSdTNDJ
BJ1M0MkEyciP87hGXmnklSbmcZUFYKHVp3KsmTOXgmV8v5PtcrCBs1rItY1gE2jl+Da27WCzFSDv
NO76qdjF/i/m35OcfxAcAodBl/JW+hpRufkK13aAV8FrwAl6wOvAxfWPgxPADU6CfN4Oot8g+g2i
3yD6DaLfIPoNkrcaeatRgepV9i4k5+qtC+JdlJF/BcVisqLeuijKUTfGXxn1e4OVYwxG2DuXf2vQ
SO5dx9nv8r2CvabaW8uvdeyV111spThKK5ybv0ctR9ZRHeU9bkDfZ9H3WVHN8TXcq5Zz6jh2oeXC
1c+5RlDcaBlcYwz9nhXPWR+Rr/XWv9VVrxNV/F5jXea8Ic7TOW+EX//COWMcYXJfg1jvE9+k1j7C
39tAp8p7kz3Xc8ZcFGuywhypiTo8NskcOVbHyBjpbYbzspyXxTt5bhb/TPwz8c8U+7n/i2xf5thX
ONYBXgWvASfoAa+DN9U9s9xzBbzlWf2iUgyAxcQgs9Ygp3RVTVYRzxrrM+5vkLGSg0lOZcihDJmb
g4cBBwMOBhwMruaFgwEHAw4mHEw4mHAw4WDCwYSDCQeDqrqMK9wFvqjG3eQ8tRVIVeahygJwE780
giXW+5zpUGfeDY8NHFNcw1rJ7wfg+iCQ9exHqu6a4iFVe8cYA7q641aUlnfdbg3jp4dY3lcM9rDd
C/aB/dYh4nmfWHRi0YlFJxadWHRi0YlFv6LOvSHqVa07JRqI833xlvh+oe69rWr4lbXvHNc5D2T0
16H8JZSX1fnSNG32q7pwSR11GzpElE8yL1rARrAJSH/aQDvYrHJGxhq3Y80QZ8SOM0KcEeKMcGWN
OK+dNy5wHJwAbnBS5VKE2DLEliGuDHFliCtDXBniyiima3BzHDfHRYXt6Fxybj5otkJUsBDVK0T1
CjEzmSrDWohxI9gE2kA72KxmpX/j3rg9M0UKM9Pj4Ak1Q4XEAVXlQ1SxEFUsRBULMUuZVLIQs5RJ
NQuJlzj2KN+7wbWy1MV9j4MTwA1Ogl5wGvSBM8AL3gNnwTm4nQdyJmslapOoTXqHbiK/TOQmPUQ3
0T+jom9C82ZqxVIgR8KdbJcDmdcrqC8r0W8Vx69mTK21jlIVelAnNy3Xv0+Nmpqzw6hjok4/6sjc
7qc76Uah/iKFhlDoMgoNodAQCg2h0BAKZVBoCIUyKDRkK5RBoQwZdxSVcqiUQ6UcKuVQKYdKOVTK
fe15/hw4D/rhNgACQIPjYka6zkjXqUKyixpGlSGUCKNCFBVyVCIDJf7FqDdVFZfZvJPjd4HdHN/B
vj1s94J9IF+NhongX2TqMHc0uaPJHSOMycmsvJ56MQ8O89m7gG0VHcgS6wzeJPAmAYvn8CaBNwm8
ScEmCZsMbD6GzRhshvAlhC8Gvhj4YjAGDXwx8MUgc4fzWctssVWOZrbb2e7kXrvAbu7Vyb49bPeC
feBxuDyhxuU+PEvgVwK/EviVwK8EXiXwKUF0Z/BK9ltjeBTCoxAehfAohEchPArhUQiPDDwy8MjA
IwOPDBQ5g08GPhn4ZOCTgU8GPhn4ZExlM9yWFbI5P25TKJNCmQzKpFAmZc9UppopWqxRlBhFiVFU
GEWFUTszTTJzqp5NZWWKCFNEmCLCFBGmiDBFhCmViXI2cXGN4+AEcIOToBecBn3gDPCC98BZMJll
sgJVq1q5Ar3yDMdUjczXRdOui+aX1EVd1UWpr6x1/egxoEa4KbagiRNNnIzuXrLolJqp5qsuzUMW
dTNj6cxYckZ1o1kYzcJo9gc0C6NZmGxKiHWiluzpQjMHmjnQzAE7NzNYLzNYL/o5mMF60dDBDNZL
Nj3HSJcrCCcReNDTQxReovAQhYes0uzZzE0XXUlEsstzE5GbiNxo7kVzL5E9g+5hqkEv2ofRPoz2
YbQPo30Y7cNE7kZ/L5nVRWZ1kVldZFYXmdVFZnWRWV344sAXB7448MXB7LcebxzMft9FMTez32Z8
cuCTg9mvF68ceOUQ76hu2oFfDvxy4JcTv5yqF/lQrq7YBoAG/8WqduZ7k1F7zrNQKYUa1lXmt1Hb
x1GiHiXqUbsSjBKJRSQWkVhEYhGJRSQWkViwHVW+the6j/x8FbB91Wxf/fgawVdZo/z4GsXXKKx6
8DWKr1F8Ne1OPICnATwNwDaApzqeyhVKAE/lKiWApzpRDNpdSUbNa1vpdrepDusSfgZtP/34WUVk
GSLzE5mfyPz4qeGnRoTd+Bm1578ofkbxM4qfUfyM4mcUBfz4qX1FJx/AzwB+BvAzgJ8r8TNg++nH
z534GcDPAH7KlVEAPwN4GcDLAF4GCt1MP3wHQABo8JY1N46ycbvm+u2a67crfgQ1c6iZQ00NNXOo
mUNJY1pH0Eov/gAKP6jWq5dQ0lQdwkNsNzO3beH6W8mN7Wx3sm8X15djW6pXPLanamwPyuVQLYdq
OVTLoVoO1XKollPj/yXVGxmoZqCagWoGqhmoZqCacUWn8Ia4SXULsma8JbYXuoa31Zx4tc4hjmLx
aYqtKtTcCq5yPZiLpvOJpgktm7nrUtWpmyhloJRhdwdxlIqjVBx14igTp16Ydv0N231TmDwKo4Af
BeTK2CBv5OrPQAEDBQwUMFDAQAGD6P1f0QHEiT5O9HGijxN5nIjjRBwn2jjRxok2TrRxoo0XdQD5
+ViTnUthnVvBvHq99S750aOiXcC2ivE71f/3Ef1For9oz80Xif4ioy5GNZ2FCvJ5gBMVnKjgtKup
Rr5oKOIkXzRUcZIvGvnyrq2Ohjq6PfrkMwO5Mg+TP37yp4f86bNHn1yp95FDfeRQX0HB/VTCJ+Fw
AO4H2R4Ch0EXOAJeAC9yfF7JHpTsQckelOxByR6U7EFJ+QzCiZJOlHSipJM8akZNpz36+silDpR1
oqyTXNJQ14m6TruaOlHYicLOwtq6n/VwvppW2KNQZ2Upq6lcO89XHegwSg6j4jAqDqvu82GVK1/s
sfN15kmOOQgOgcOgCxwBLwBZW2TvK1e5jzLrVqv1eZCVsG4/F9HUk5uV7JPPQ9bAai1R3Sd+wP00
+2mNxv00OtIg3ajsQoN0obIH6OPamri9qK+WFdpUI2OOWlV4VT1porbIFfT0NWGuqE++aI+GC9zx
Mne8QOfo5a4XCjXhAL/LMf/f97Z+MttPp+mF9QWqweQTxLl0i5N9bhOarbPOk7FJOnm5cpMr1En9
Y7DLko0GDGNkY0z1uR1KnxhZlCSLkmRRkixKkkVJsihJFiWL7i79iKFyE6Nug1q3x6+5xltemPtm
iW8W6s4cvleymp1LBs1TazcT/kH1xKOJ/bdyzDq2G5hjWqwRVB9B9REVTxvbdrCZXmeL6tWD5HAz
Spsobaq685Jah0VhFYVVFFZRWEVhFYVVFBdGcGEEF0ZwYQQXRnBhBBdGcGEEF0ZwYQQXRnBhpGj+
qSPz68j8ZnGzWnk2EccGerkW2GwEm0AbaAebVW9eAbtq2IzBZgw2Y7AZg80YbMZgMwabBGwSsEnA
JgGbBGwSsEnAJgGbBGwSsEnAJgGLeljUw6IaJaUTMjsfttIFj6W/HWqcxfAuiHdBvAsq70rkPCCW
4ksMX2LKD6V3YeU/pfeU1hmun0PvGPfI2T13Tq2POtlee5X/dbWOoXVs2tpK4x6l6m7yr9vspzhe
e7b3qk7uVsV/HP5J+Cfhzxgg61qVI0niSKo45FOmfA/kxZmGwgjNz8jjxDFOHOPEMU4c48QxThzj
xJEkjiRxJIkjSRxJ4kgSR5I4ksSRJI4kcSSJI4k7DfSZU6M0jlMGKvthOcHolDXEtEdmfhWzlVyY
XDt00MF1qiyegNEEjCZgNAGjCRhNwGgChTQU0tBkUPWZ3yma31Noo6s3C3lPi1f4CfuJzmT1Mq9Y
S3Vwfn49paONzpiS6yb9K3z+bytb/s1HgHvIKJrtGqyrfi7fy/0dd037uVyMSGJEEiMK2fnGiCKG
s3HbVb9apRxQ2l3rGVsMtjHYxmAbg20MtjHYxmAbg20MtjHYxmBLNjLWBoBcQdyqGMq6la9Z8ilm
BGZZmGVhlrXrVBZmWVUF8jVqklUEVhFYRWAVgVUEVhFYydkhC6ssrLKwysIqC6ssrLKwysIqC6ss
rLKwyk5j1Yz7CdxP2Pr9sygDxr7Q70amPQXbwjlTTpu209eqV1/3KVYCpxPoNrXmn6w3KZilYZaG
WVqNiDa27UCO1S0qB4vHZwpWKVilYJWCVQpWKVilYJWGVRpWaVilYZWGVRpWaVilYZWGVRpWaVil
C/nXeNWZtOp/OJsuLLx5mXzrsoIuMv9GTT7trFQ9TSvb+8SGojdp8aI3aV/+piXf5wTpiErk+zAw
+d4n/85n8inC0aKnCBmxguq1Cqxmhl5LHdvA8S2WC6dcOOVCi1/SAwfpgYM45qIHDuKaix44iEYe
nAvCcrL3jdi976nCe6JO9WRt6l3RfqtdPT348icHHvEyPF7hfAd4FbwGnKAHvA5c3P84OAHc4A34
n2R7CtU8eCPfH70l7iUrXGSFi343SGa4yAwXmeEiM1xkhovMCJIZcraMiJmilivX4cVC9S4uSM/Z
LRrY3j/ted9cpWvxM7/L13zml3/fOPncTys891tHLf9/fvbXz/UH5IwOxxoUTKNgWtXPVn6Vub1F
9TFG0YxoqKcwneoN0JfXznOcdx5oHFeuepwO1jj9dKADIMD3Gfm9RBoAk8c0FK2RGwp7V7L3AfY+
wN6V7JF97oLCG5IVVi/u6Tgnn/59XDSD5+fPqz35yz/1+1it4OU8t5HovUTvJW8myJkJ6vgs+wnQ
le9hi8fjGrZrVXfsIU985ImPPPGhoLPoPZXPfk/ls99TeVHWq94O7+Je8ulP8VOffG5c632tn/HX
gAMeHPDggAcHPDjgwQEPDsj/a+AjL3zkhY+88Nnjz8f4W20/6ZHPLXzkiM9+b+UjT3zkiY888ZEn
Plz04qK38AaxVP4/CJwTaDOLbYW4QZSJeVx5Nr80kkO30svWimV0PzeJO1k13MJobxF3iE3ih+J7
jNL7xV24uB0Fd/C5V+zk0yJ28dkodvPZhNsddIqdYg81dq/Yx3mPiyc47zfiAGf+js/D4iCfLeKQ
OMzI6xJ/ElvFK4JVvHhdvCN+LrziLEef4/OUOM/nt/D/UDxNBJp45j9H5ap2AAAAAAABAAAAANHm
YT0AAAAAzTcHMAAAAADR4JjS) format('woff'), url('AdelleSans-Bold.ttf')  format('truetype'), url('AdelleSans-Bold.svg#AdelleSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


