
@font-face {
  font-family: 'BaskervilleBE-Regular';
  src: url('BaskervilleBE-Regular.eot?#iefix') format('embedded-opentype'),  url('BaskervilleBE-Regular.woff') format('woff'), url('BaskervilleBE-Regular.ttf')  format('truetype'), url('BaskervilleBE-Regular.svg#BaskervilleBE-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
