// global variables
$font-stack: "BaskervilleBE-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-AdelleSans-thin: 'AdelleSans-Thin';
$font-AdelleSans-thin-italic: 'AdelleSans-ThinItalic';
$font-AdelleSans-bold: 'AdelleSans-bold';
$font-AdelleSans-semibold: 'AdelleSans-SemiBold';
$font-BaskervilleBE-Regular: 'BaskervilleBE-Regular';
$font-BodoniMT: 'BodoniMT';
$primary-color: #333;
$text-color: #d7d5d5;
$background-color: #afafaf;
$border-color: #ccc;
$nav-pills-bgcolor: #eee;
$color-green: #74bc87;
$color-black: #000000;
$color-white: #ffffff;
$color-zambezi: #606060;
$color-light-gray: #a3a3a3;
$color-dark-green: #58af6f;
$color-light-blue: #337ab7;
$color-dark-gray: #84B487;
$color-gray60: #999999;
$color-green60: #545454;
$color-grey50: #818181;
$color-black80: #363636;
$color-gray80: #686868;

// $fontsDir: '/opt-showcase-ui/fonts';
  $fontsDir: '/fonts';

