@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

@font-face {
  font-family: 'AdelleSans-Bold';
  src: url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Bold.woff") format("woff"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Bold.ttf") format("truetype"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Bold.svg#AdelleSans-Bold") format("svg"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Bold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AdelleSans-SemiBold';
  src: url("/fonts/adele_sans/adelle-sans-semibold/AdelleSans-Semibold.woff") format("woff"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Semibold.ttf") format("truetype"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Semibold.svg#AdelleSans-Semibold") format("svg"), url("/fonts/adele_sans/adelle-sans-bold/AdelleSans-Semibold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AdelleSans-Thin';
  src: url("/fonts/adele_sans/adelle-sans-thin/AdelleSans-Thin.woff") format("woff"), url("/fonts/adele_sans/adelle-sans-thin/AdelleSans-Thin.ttf") format("truetype"), url("/fonts/adele_sans/adelle-sans-thin/AdelleSans-Thin.svg#AdelleSans-Thin") format("svg"), url("/fonts/adele_sans/adelle-sans-thin/AdelleSans-Thin.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AdelleSans-ThinItalic';
  src: url("/fonts/adele_sans/adelle-sans-thin-italic/AdelleSans-ThinItalic.woff") format("woff"), url("/fonts/adele_sans/adelle-sans-thin-italic/AdelleSans-ThinItalic.ttf") format("truetype"), url("/fonts/adele_sans/adelle-sans-thin-italic/AdelleSans-ThinItalic.svg#AdelleSans-ThinItalic") format("svg"), url("/fonts/adele_sans/adelle-sans-thin-italic/AdelleSans-ThinItalic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BaskervilleBE-Regular';
  src: url("/fonts/Berthold Baskerville/BaskervilleBE-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Berthold Baskerville/BaskervilleBE-Regular.woff") format("woff"), url("/fonts/Berthold Baskerville/BaskervilleBE-Regular.ttf") format("truetype"), url("/fonts/Berthold Baskerville/BaskervilleBE-Regular.svg#BaskervilleBE-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BodoniMT';
  src: url("/fonts/bodoni-mt-1361532932/BodoniMT.woff") format("woff"), url("/fonts/bodoni-mt-1361532932/BodoniMT.ttf") format("truetype"), url("/fonts/bodoni-mt-1361532932/BodoniMT.svg#BodoniMT") format("svg"), url("/fonts/bodoni-mt-1361532932/BodoniMT.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body.ReactModal__Body--open {
  overflow: hidden; }

body {
  font-size: 15px; }

#root {
  min-height: 600px;
  /* columns of same height styles */
  /* vertical alignment styles */ }
  #root .Input-Gruop {
    display: table; }
    #root .Input-Gruop .Input-Gruop-Child {
      display: table-cell;
      vertical-align: top; }
      #root .Input-Gruop .Input-Gruop-Child .input-group-addon {
        height: 34px;
        border-left: 1px solid #ccc;
        border-right: 0; }
      #root .Input-Gruop .Input-Gruop-Child input {
        border-radius: 0; }
      #root .Input-Gruop .Input-Gruop-Child:nth-child(2) {
        width: 100%; }
  #root .row-full-height {
    height: 100%; }
  #root .col-full-height {
    height: 100%;
    vertical-align: middle; }
  #root .row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
    margin: 0; }
  #root .col-xs-height {
    display: table-cell; }
  @media (min-width: 768px) {
    #root .col-sm-height {
      display: table-cell; } }
  @media (min-width: 992px) {
    #root .col-md-height {
      display: table-cell;
      float: none !important; } }
  @media (min-width: 1200px) {
    #root .col-lg-height {
      display: table-cell;
      float: none !important; } }
  #root .col-top {
    vertical-align: top; }
  #root .col-middle {
    vertical-align: middle; }
  #root .col-bottom {
    vertical-align: bottom; }
  #root .border-right-1px {
    border-right: solid 1px; }
  #root .border-left-1px {
    border-left: solid 1px; }
  #root .padding-0 {
    padding: 0; }
  #root .padding-lr-0 {
    padding-left: 0;
    padding-right: 0; }
  #root .padding-l-0 {
    padding-left: 0; }
  #root .padding-r-0 {
    padding-right: 0; }
  #root .margin-lr-0 {
    margin-left: 0;
    margin-right: 0; }
  #root .margin-l-15px {
    margin-left: 15px; }
  #root .margin-r-15px {
    margin-right: 15px; }
  #root .margin-lr-15px {
    margin-right: 15px;
    margin-left: 15px; }
  #root .text-uppercase {
    text-transform: uppercase; }
  #root a {
    cursor: pointer; }
  #root button:focus,
  #root a:focus {
    outline: none; }
  #root select {
    width: auto; }
  #root .btn:focus,
  #root .btn:active:focus,
  #root .btn.active:focus,
  #root .btn.focus,
  #root .btn:active.focus,
  #root .btn.active.focus {
    outline: none; }
  #root .btn,
  #root .btn-b {
    box-shadow: none;
    border-radius: 0; }
  #root .btn-inverse {
    background: transparent;
    border: 2px solid #ccc;
    border-color: #ccc;
    text-shadow: none;
    box-shadow: none; }
    #root .btn-inverse:hover, #root .btn-inverse:focus, #root .btn-inverse.active, #root .btn-inverse:active {
      background-color: #e0e0e0;
      background-position: 0 -15px;
      color: #333; }
  #root .btn-transparent {
    background: transparent;
    padding: 10px 20px; }
    #root .btn-transparent:hover, #root .btn-transparent:active, #root .btn-transparent.active, #root .btn-transparent:focus {
      background: #efefef;
      box-shadow: none; }
  #root .styled-select {
    border: 1px solid #ccc;
    display: inline-block;
    background: transparent; }
  #root .styled-select > select {
    height: 32px;
    border: none;
    border-radius: 0;
    line-height: 1;
    background: transparent;
    box-shadow: none; }
  #root .styled-select > select:focus {
    outline: none; }
  #root .App {
    margin-top: 0;
    margin-bottom: 50px; }
  #root .logo img {
    max-width: 350px; }
  #root .logo > a {
    font-family: "BodoniMT";
    text-decoration: none;
    color: #333; }
  #root .logo > a:focus,
  #root .logo > a:hover {
    color: #333; }
  #root body {
    margin: 0;
    padding: 0;
    font-family: "BaskervilleBE-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #root header {
    margin-bottom: 25px; }
  #root header h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px; }
  #root .menu-item-container {
    display: inline-block;
    text-align: center;
    min-height: 60px;
    font-weight: bold; }
    #root .menu-item-container .menu-dropdown {
      position: absolute;
      left: auto;
      background: white;
      border: solid 1px;
      width: 400px;
      min-height: 100px;
      padding: 20px 0;
      /* .text-left {
        div:first-child {
          margin-top: 50px;
        }
      } */ }
      #root .menu-item-container .menu-dropdown a {
        color: black;
        font-size: 14px;
        display: inline-block;
        padding-bottom: 20px;
        min-height: 40px;
        font-weight: normal;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'AdelleSans'; }
        #root .menu-item-container .menu-dropdown a:hover {
          text-decoration: none; }
      #root .menu-item-container .menu-dropdown .list-title {
        font-weight: bold !important;
        border-bottom: solid 1px #ccc;
        position: relative;
        width: 150px; }
      #root .menu-item-container .menu-dropdown .text-left:not(:first-child) .list-title {
        border: 0; }
    #root .menu-item-container .column-size-1 {
      width: 190px; }
    #root .menu-item-container .column-size-4 {
      width: 570px; }
    #root .menu-item-container .column-size-3 {
      width: 440px; }
    #root .menu-item-container:not(.active) .menu-dropdown {
      display: none; }
    #root .menu-item-container .menu-link {
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
      top: 1px;
      z-index: 1;
      border: solid 1px transparent;
      color: #555;
      font-size: 13px;
      text-transform: uppercase;
      font-family: "AdelleSans-bold"; }
      #root .menu-item-container .menu-link:hover, #root .menu-item-container .menu-link:focus {
        text-decoration: none; }
    #root .menu-item-container.active .menu-link {
      background: white;
      border: solid 1px black;
      border-bottom: 0; }
  #root .custom-btn, #root .btn-green, #root .btn-white {
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    display: inline-block;
    background: white;
    font-family: "AdelleSans-Thin"; }
    #root .custom-btn:hover, #root .btn-green:hover, #root .btn-white:hover {
      background: #337ab7;
      color: white; }
  #root .btn-green {
    background: #74bc87;
    color: white; }
    #root .btn-green:hover, #root .btn-green:focus {
      background: #58af6f;
      color: white; }
  #root .btn-white {
    border: solid 1px #74bc87;
    color: #74bc87; }
    #root .btn-white:hover, #root .btn-white:focus {
      background: #fff;
      color: #58af6f; }
  #root .react-modal-footer .close-modal-btn:hover {
    background: #efefef;
    padding: 10px 20px;
    display: inline-block; }
  #root .cta-btn {
    transition: all 0.5s;
    padding: 10px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-size: 13px; }
    #root .cta-btn a {
      color: black;
      padding-left: 0;
      padding: 10px 10px 10px 0; }
      #root .cta-btn a:hover, #root .cta-btn a:focus {
        text-decoration: none; }
    #root .cta-btn:hover {
      text-decoration: none; }
  #root .form-error {
    color: #ec5840; }
  #root .is-invalid-input {
    background-color: rgba(236, 88, 64, 0.1);
    border-color: #ec5840; }
  #root img {
    width: auto;
    max-width: inherit; }
  #root .tooltip-icon {
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px; }
  #root .panel-body .tooltip-icon {
    float: right; }
